@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    padding: 10%;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


a:visited {
    color: rgb(224, 0, 0);
}

a:hover,
a:focus {
    /* color: rgb(148, 147, 147); */
    opacity: 0.5;
    background-color: gold;
}

a:active {
    color: rgb(255, 0, 0);
}